* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title {
  border-bottom: 2px solid #f02c1e;
  display: inline-block;
  margin: 0 0 2rem;
  font-size: 2rem;
}
.title_mod {
  font-size: 1.5rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: #f02c1e;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(82, 12, 12, 0.521);
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  font-weight: bold;
  min-width: 100px;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.btn-add {
  word-break: keep-all;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_icon {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: black;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.form {
  background-color: #ffc41a;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.521);
  border: 2px solid #f02c1e;
  border-radius: 3px;
}

.input-text {
  padding: 0.5rem 1rem;
  border: 2px solid #f02c1e;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  width: 80%;
  margin-bottom: 1rem;
  text-align: center;
}
.input-text::placeholder {
  text-align: center;
}

.container {
  padding: 3% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #f02c1e;
  border-radius: 3px;
  width: 80%;
}
.no-border {
  border: none;
}
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}
.container-team-info {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.container-stats {
  text-align: start;
  border: 2px solid #ffc41a;
  padding: 1rem;
  border-radius: 3px;
  align-self: flex-start;
  min-width: 230px;
  margin: 1rem 1rem 0 0;
}
.stats-data {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}
.details-container {
  width: 50%;
}

.details-powerstats {
  text-align: start;
  line-height: 1.8rem;
}

.details-image {
  width: 50%;
  height: 100%;
  margin-right: 2rem;
  border-radius: 3px;
}

.superhero-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.powerstats-list {
  list-style: none;
  margin-top: 1rem;
  line-height: 1.8rem;
}
.powerstats-list li {
  text-transform: capitalize;
}
.title-stats {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (max-width: 455px) {
  .form {
    width: 98%;
  }
  .container_row {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .details-image {
    width: 100%;
    margin: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .container-team-info {
    flex-direction: column;
  }
  .container-stats {
    margin-bottom: 1rem;
    align-self: center;
  }
  .details-container {
    width: 100%;
  }
}
