.team-card {
  border: 2px solid #f02c1e;
  padding: 1rem;
  border-radius: 3px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
}
.stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.stats div span {
  align-items: start;
  text-align: start;
  font-size: 0.9rem;
  white-space: nowrap;
}
.mod_container {
  margin-right: 1rem;
  align-items: flex-start;
}

.action-options {
  display: flex;
}
.action-options .btn {
  width: 100px;
  margin: 0.5rem;
}
.action-icon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.action-icon::after {
  content: counter("Ver más");
}
.red {
  color: red;
}
.blue {
  color: blue;
}
